:root {
    --tea-rose-red: #e2c2c6ff;
    --rosy-brown: #b9929fff;
    --plum: #9c528bff;
    --indigo: #610f7fff;
    --russian-violet: #2f0147ff;
}

* {
    font-family: 'Titillium Web';
    margin: 0;
    padding: 0;
}

/* MOVIL */
/* index */
main {
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    margin-top: 40px;
    font-size: 3rem;
}

main>section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 135%;
    margin-top: 50px;
    border: 1px solid black;
}

p {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 1.2rem;
}

button {
    padding: 10px 10px;
    background-color: whitesmoke;
    margin-bottom: 70px;
}

button>a {
    text-decoration: none;
    color: black;
    font-family: 'Titillium Web';
    font-style: italic;
    font-size: large;
}

/* quiz */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding-bottom: 170px;
    font-size: 1.4rem;
    border: 0;
}

legend {
    width: 90vw;
    padding: 55px 20px;
    background-color: var(--tea-rose-red);
    text-align: center;
    font-size: 1.5rem;
}

div {
    display: flex;
    flex-direction: column;
}

label {
    color: white;
    width: 90vw;
    padding: 55px 20px;
    text-align: center;
}

input {
    display: none;
}

/* Clases */
.div1>label:first-of-type {
    background-color: var(--rosy-brown);
}

.div2>label:first-of-type {
    background-color: var(--plum);
}

.div1>label:last-of-type {
    background-color: var(--indigo);
}

.div2>label:last-of-type {
    background-color: var(--russian-violet);
}

/* Ids */
#botonEnviar {
    padding: 20px 70px;
    font-size: 1.2rem;
    margin-top: 40px;
}

/* TABLETA */
@media screen and (min-width: 768px) {

    /* index */
    h1 {
        margin-top: 70px;
        font-size: 6rem;
    }

    img {
        width: 225%;
        margin-top: 70px;
    }

    p {
        padding-top: 70px;
        padding-bottom: 45px;
        font-size: 2.2rem;
    }

    button {
        padding: 30px 70px;
        margin-bottom: 80px;
    }

    button>a {
        font-size: 2rem;
    }

    /* quiz */
    fieldset {
        margin-bottom: 50px;
        margin-top: 50px;
        padding-bottom: 80px;
        width: 100vw;
    }

    legend {
        width: 90vw;
        background-color: var(--tea-rose-red);
        text-align: center;
        font-size: 2rem;
    }

    label {
        width: auto;
        padding: 1em 6em;
        margin-top: 4rem;
        margin-left: 2rem;
        margin-right: 2rem;
        font-size: 1.8rem;
    }

    #botonEnviar {
        padding: 40px 130px;
        margin-bottom: 80px;
        font-size: 1.8rem;
    }
}

@media screen and (min-width: 1366px) {

    /* index */
    h1 {
        margin-top: 40px;
        font-size: 5rem;
    }

    img {
        width: 175%;
        margin-top: 45px;
    }

    p {
        padding-top: 45px;
        padding-bottom: 35px;
        font-size: 1.8rem;
    }

    button {
        padding: 20px 60px;
        margin-bottom: 80px;
    }

    button>a {
        font-size: 1.8rem;
    }

    /* quiz */
    legend {
        width: 50vw;
        background-color: var(--tea-rose-red);
        text-align: center;
        font-size: 2rem;
    }

    fieldset {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
    }

    div {
        display: flex;
        justify-self: center;
        text-align: center;
        align-items: center;
    }
}